{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    "_": true,
    "F": true,
    "React": true,
    "Component": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "camelcase": 2,
    "no-console": 2,
    "no-useless-constructor": 2,
    "no-unused-vars": [
      2,
      { "argsIgnorePattern": "^_.+", "varsIgnorePattern": "^_.+" }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "plugins": ["react"]
}
